[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
# 每个表单独一个数据文件
innodb_file_per_table=1
# 默认时区
default-time_zone='+8:00'
# 默认字符集
character-set-server=utf8mb4
collation-server=utf8mb4_bin
# 不区分大小写
lower_case_table_names=1

[mysql]
default-character-set=utf8mb4
